// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.name-field {
	font-size: 35px;
}


.form-errors {
	color: red;
}

.big-ass-button {
	width: 200px;
	height: 50px;
}